* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    body {
        background-color: lightblue;
    }
    h1 {
        font-size: 2.5rem;
    }
    .text p {
        font-size: 1.2rem;
    }
    #main-navbar ul {
        display: flex;
    }
    .image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: lightgreen;
    }
    h1 {
        font-size: 3rem;
    }
    .text p {
        font-size: 1.5rem;
    }
    #main-navbar ul {
        justify-content: space-evenly;
    }
    .image-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    color: white;
    background-color: black;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(179, 24, 24, 0.6);
}

.resume-pdf {
    text-align: center;
}

#main-navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: red;
}

#main-navbar a.active {
    font-weight: bold;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px;     
}

nav ul li {
    text-align: center;
}
    
nav ul li a {
    display: block;
    color: rgb(207, 176, 118);
    background-color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    color: red;
    background-color: whitesmoke;
}

.fixed-layout {
    width: 88%; 
    margin: 0 auto; 
    padding: 60px;
    background-color: #000000;
    color: rgb(206, 194, 194);
    box-shadow: 0px 0px 10px 10px rgba(179, 24, 24, 0.6);
    border-radius: 90px;
    margin-top: 50px; 
    margin-bottom: 40px;
   
}

.text {
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0.5rem;
}

h1, h2, h3 {
    text-align: center;
}
#resume-heading {
    margin-top: -40px;
}

#youtube {
    display: block;
}

#highlights {
    width: 1500px;
    height: 700px;
    border: none;
}

#resume {
    width: 960px;
    height: 1000px;
    border: none;
}

iframe {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(179, 24, 24, 0.6);
}

footer {
    text-align: center;
}

/* Style for map container */
#map {
    height: 900px;  /* Map height */
    width: 100%;    /* Full-width map */
}


#mxc {
    height: 600px; 
    width: 400px;
}

#dominican {
    height: 600px; 
    width: 400px;
}
#dunk {
    height: 600px; 
    width: 800px;
}

#computer-pic1 {
    height: 800px; 
    width: 800px;
}

#computer-pic2 {
    height: 800px; 
    width: 600px;
}

#socials {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
#socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px;     
}

#socials ul li {
    text-align: center;
}

#socials ul li a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(155, 35, 35);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#socials a:hover {
    color: red;
    background-color: white;
}
